<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styleFicha.css">
    <title></title>
</head>
<body>
<a class="new-register" href="/ficha/datos/principales/">Nuevo Registro</a>
    

<div id="content pnl-principal" class="content-panel">
    
    <h1 class="title-Panel">Panel de Encargado</h1>

    <h2 class="title-dpto">DEPARTAMENTOS</h2>

    <ul class="list-dpto">
        <li class="list-dpto__of">
            <a href="/panel/1/">Santa Cruz</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/2/">La Paz</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/3/">Beni</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/4/">Pando</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/5/">Oruro</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/6/">Cochabamba</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/7/">Sucre</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/8/">Tarija</a>
        </li>
        
        <li class="list-dpto__of">
            <a href="/panel/9/">Potosí</a>
        </li>
        
    </ul>
    
    <h2 class="title-joven">Jovenes</h2>
        
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/1/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-P
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Pando
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/2/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> BetaCab18
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/3/">Saulo Choquetilla Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-P
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Pando
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/9/">Gabril Guitierrez Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> 
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Pando
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/10/">Lorenzo Zurzolo</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> 
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Pando
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/11/">Benedito Choquetilla</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> 
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> La Paz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/17/">Saulo Choquetilla</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/19/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> 
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/20/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/21/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/22/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/23/">Jeshua Caballero Vaca</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Asistente-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/30/">Sugeto de prueba</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> Santa Cruz
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/31/"></a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/32/">prueba 1</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/33/">prueba 1</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/34/">prueba 1</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/35/">prueba 1</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div class="joven__datos">
        <p class="joven__nombre">
            Nombre: <a href="/ficha/36/">prueba 1</a>
        </p>
        <p class="joven__registro">
            <b>Registrado por :</b> Encargado-SC
        </p>
        <p class="joven__dpto">
            <b>Departamento :</b> 
        </p>
    </div>
    
    <div id="sidebar">
        <a href="/cerrar/sesion">Cerrar Sesión</a>
    </div>
    
</body>
</html>